@charset "UTF-8";

* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    line-height: calc(1em + 0.5rem);
}

:root {
    /* Primary */
    --bright-orange: hsl(31, 77%, 52%);
    --dark-cyan: hsl(184, 100%, 22%);
    --very-dark-cyan: hsl(179, 100%, 13%);

    /* Neutral */
    --transparent-white: hsla(0, 0%, 100%, 0.75); /* paragraphs */
    --very-light-cyan: hsl(0, 0%, 95%); /* background, headings, buttons*/

    /* Fonts */
    --lexend-deca: "Lexend Deca"; 
    --big-shoulders-display: "Big Shoulders Display";

}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    min-height: 100vh;
    background-color: var(--very-light-cyan);
    padding: 10px;
}

main {
    max-width: 350px;
    background-color: lightslategray;
    margin: auto;
    border-radius: 10px;
    overflow: hidden;
}


main div {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 40px;
}

div.card1 {
    background-color: var(--bright-orange);
    color: var(--bright-orange);
}

div.card2 {
    background-color: var(--dark-cyan);
    color: var(--dark-cyan);
}

div.card3 {
    background-color: var(--very-dark-cyan);
    color: var(--very-dark-cyan);
}

img {
    width: 60px;
}

h1 {
    text-transform: uppercase;
    font-family: var(--big-shoulders-display), sans-serif;
    color: var(--very-light-cyan);
}

main p {
    font-family: var(--lexend-deca), sans-serif;
    color: var(--transparent-white);
}

button {
    font-family: var(--lexend-deca), sans-serif;
    width: 180px;
    border: 2px solid white;
    border-radius: 40px;
    padding: 15px 0px;
    font-size: 1rem;
    cursor: pointer;
    background-color: var(--very-light-cyan);
    color: inherit;
}

button:hover {
    color: var(--very-light-cyan);
    background-color: inherit;
    color: white;
}



@media screen and (min-width: 950px) {
    main {
        display: flex;
        max-width: 900px;
    }
}

.attribution { font-size: 1rem; text-align: center; font-family: var(--lexend-deca), sans-serif;}
.attribution a { color: hsl(228, 45%, 44%); }
