@charset "UTF-8";

* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    line-height: calc(1em + 0.5rem);
}

:root {
    /* Primary */
    --bright-orange: hsl(31, 77%, 52%);
    --dark-cyan: hsl(184, 100%, 22%);
    --very-dark-cyan: hsl(179, 100%, 13%);

    /* Neutral */
    --transparent-white: hsla(0, 0%, 100%, 0.75); /* paragraphs */
    --very-light-cyan: hsl(0, 0%, 95%); /* background, headings, buttons*/

    /* Fonts */
    --lexend-deca: "Lexend Deca"; 
    --big-shoulders-display: "Big Shoulders Display";

}

body {
    min-height: 100vh;
}

.attribution { font-size: 1rem; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }
